
.month-tick{
    stroke-width:1;
    stroke: grey;
    fill: rgb(197, 197, 197);
}

.month-label{
    text-anchor: middle;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.axis-year{
    stroke:black;
    stroke-width:1;
    /* opacity: 0.6; */
    stroke-linecap: round
}



.overshoot-arc{
    stroke:rgb(255, 123, 0);
    stroke-width: 3;
}

.clock-canvas{
    fill: #286e70;
    stroke: rgb(80, 185, 38);
    stroke-width:3;
}