
.month-tick{
    stroke-width:1;
    stroke: grey;
    fill: rgb(197, 197, 197);
}

.clock-ptr {
    fill : orange;
    font-size: 48px;
    content: '\uf0d7';
    font-family: FontAwesome;
    text-anchor: middle;
}
/* .tick-green{
    fill: greenyellow;
}
.tick-red{
    fill: crimson;
}
.tick-overshoot{
    fill: url(#svgGradient)
} */

.month-label{
    text-anchor: middle;
    color: white;
    font-family: 'Courier New', Courier, monospace
}

.date-label{
    text-anchor: middle;
    fill: orange;
    font-family: 'Courier New', Courier, monospace'
}

.date-label.day{
    font-size: 12px;
}

.inner-circle{
    fill:rgb(37, 77, 78);
    stroke: rgb(40, 95, 81);
}

.vline{
    stroke:white;
    stroke-width:1;
}

.year-axis text{
    fill: white;
    color: white;
    font-weight: bold;
    
}
.year-axis path,line{
    stroke: white;
}


.overshoot.arc{
    stroke:rgb(255, 123, 0);
    stroke-width: 4.4;
}

.extra.arc{
    stroke:rgb(0, 195, 255);
    stroke-width: 4.4;
    opacity: 0.5
}


#elapsed-arc{
    /* stroke:rgb(80, 185, 38); */
    stroke: limegreen;
    stroke-width: 4;
}

.clock-canvas{
    fill: #286e70;
    stroke: rgb(80, 185, 38);
    stroke-width:3;
}